---
export type BreadcrumbsItem = typeof import("./BreadcrumbsItem.astro").default;

interface Props {
  children: BreadcrumbsItem | BreadcrumbsItem[];
  className: string;
}

const { className = "breadcrumbs" } = Astro.props;
---

<nav class={className} aria-label="Breadcrumbs">
  <ol>
    <slot />
  </ol>
</nav>

<style is:global>
  .breadcrumbs ol {
    padding: 0;
    margin: 0;
    list-style: none;
  }
</style>
